.navbar {
  background: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 72px;
}

.navbar__logo img {
  display: block;

  width: 72px;

  height: auto;
}
