.video {
  padding: 70px 0;
}

.video video {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 20px;
}

@media (max-width: 768px) {
  .video {
    padding: 50px 0;
  }

  .video video {
    border-radius: 12px;
  }
}
